<a href="https://colab.research.google.com/github/arushi3838/Assignments_python/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. L is a list defined as L= [11, 12, 13, 14].

(i) WAP to add 50 and 60 to L.

(ii) WAP to remove 11 and 13 from L.

(iii) WAP to sort L in ascending order.

(iv) WAP to sort L in descending order.

(v) WAP to search for 13 in L.

(vi) WAP to count the number of elements present in L.

(vii) WAP to sum all the elements in L.

(viii) WAP to sum all ODD numbers in L.

(ix) WAP to sum all EVEN numbers in L.

(x) WAP to sum all PRIME numbers in L.

(xi) WAP to clear all the elements in L.

(xii) WAP to delete L.

In [9]:
"(i)"
L= [11, 12, 13, 14]
print(L)
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14]
[11, 12, 13, 14, 50, 60]

In [12]:
"(ii)"
L= [11, 12, 13, 14]
print(L)
del L[0]
del L[1]
print(L)

[11, 12, 13, 14]
[12, 14]

In [13]:
"(iii)"
L=[11, 12, 13, 14]
L.sort()
print(L)
"(iv)"
L.sort(reverse=True)
print(L)

[11, 12, 13, 14]
[14, 13, 12, 11]

In [1]:
"(v)"
L=[11, 12, 13, 14]
f=0
for i in range(0,len(L)):
  if L[i]==13:
    print ("13 found at position",i)
    f=1

if (f==0):
  print("13 not found")

13 found at position 2

In [3]:
"vi"
L=[11,12,13,14]
x=len(L)
print(x)
"vii"
sum(L)

4

50

In [32]:
"viii, ix"
L=[11,12,13,14]
sumo=0
sume=0
for i in range (0,len(L)):
  if L[i]%2==0:
    sume+=L[i];
  else:
    sumo+=L[i];
print("The sum of odd numbers is",sumo)
print("the sum of even numbers is",sume)

"x"
for i in range (0,len(L)):
  f=0
  for j in range(2,(len(L)//2)+1):
    if (L[i]%j==0):
      f=1
      print(L[i] ,"not prime")
    break
  if(f==0):
    print(L[i],"is prime")

  "xi"
i=0
while i==0:
  del L[i]
  print(L)
  if L==[]:
    break
##or clear function can be used as well
L=[11,12,13,14]
L.clear()
print(L)
del L
print(L)

The sum of odd numbers is 24
the sum of even numbers is 26
11 is prime
12 not prime
13 is prime
14 not prime
[12, 13, 14]
[13, 14]
[14]
[]
[]

NameError: ignored

Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.

(i) WAP to add new entry in D; key=8 and value is 8.8

(ii) WAP to remove key=2.

(iii) WAP to check weather 6 key is present in D.

(iv) WAP to count the number of elements present in D.

(v) WAP to add all the values present D.

(vi) WAP to update the value of 3 to 7.1.

(vii) WAP to clear the dictionary.

In [37]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print ("After Adding (8)    --> ", D)
del D[2]
print ("After deleting (2)    --> ", D)
print("Key 6 is present in D  -->",6 in D)
print("There are", len(D), "elements in D.")
print("There are", len(D), "elements in D.")
print("The sum is", sum(D))
D[3]=7.1
print("The updated value of 3 is", D[3])
D.clear()
print(D)

After Adding (8)    -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
After deleting (2)    -->  {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
Key 6 is present in D  --> False
There are 5 elements in D.
There are 5 elements in D.
The sum is 21
The updated value of 3 is 7.1
{}

Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
 S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

(i) WAP to add 55 and 66 in Set S1.

(ii) WAP to remove 10 and 30 from Set S1.

(iii) WAP to check whether 40 is present in S1.

(iv) WAP to find the union between S1 and S2.

(v) WAP to find the intersection between S1 and S2.

(vi) WAP to find the S1 - S2.

In [46]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
print("sum of 55 and 66 in S1",55+66)
S1.remove(10)
S1.remove(30)
print("set after removing 10 and 30", S1)
print("Is 40 present in set S1 -->",40 in S1)
print("union between S1 and S2 -->",S1.union(S2))
print("intersection between S1 and S2 -->",S1.intersection(S2))
print("difference S1 and S2 -->", S1-S2)

sum of 55 and 66 in S1 121
set after removing 10 and 30 {40, 50, 20, 60}
Is 40 present in set S1 --> True
union between S1 and S2 --> {70, 40, 80, 50, 20, 90, 60}
intersection between S1 and S2 --> {40, 50, 60}
difference S1 and S2 --> {20}

Q4. Write the following program.

(i) WAP to print 100 random strings whose length between 6 and 8.

(ii) WAP to print all prime numbers between 600 and 800.

(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9

In [ ]:
"i"
import random as r
import string as s
for i in range(100):
  randomnum=r.randint(6,8)
  stringnew=r.sample(s.ascii_letters, randomnum)
  stringnew="".join(stringnew)
  print(stringnew)

"ii"
for i in range(600,801):
  f=0
  for j in range(2,(i//2)+1):
    if(i%j==0):
      f+=1
  if (f==0):
    print(i,"is prime.")

"iii"
for i in range(100,1001):
  f=0
  if(i%7==0 and i%9==0):
    print(i,"is divisible by 7 and 9.")

Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find

(i) Common numbers in the two lists

(ii) Unique numbers in both the list

(iii) Minimum in both the list

(iv) Maximum in both the list

(v) Sum of both the lists

In [25]:
"i"
import random
L1=[]
L2=[]
for i in range (20):
  randomnum=random.randint(10,30)
  if(i<10):
    L1.append(randomnum)
  else:
    L2.append(randomnum)
print(L1)
print(L2)

"ii"
for i in range(0,len(L1)-1):
  f=0
  for j in range(i+1,len(L1)):
    if(L1[i]==L1[j]):
      f=1
  if(f==0):
    print(L1[i],"is unique in L1.")

  for j in range(i+1,len(L2)):
    if(L2[i]==L2[j]):
      f=1
  if(f==0):
    print(L2[i],"is unique in L2.")

[14, 25, 18, 22, 16, 20, 23, 20, 14, 30]
[24, 16, 19, 16, 26, 20, 13, 17, 24, 14]
25 is unique in L1.
18 is unique in L1.
19 is unique in L2.
22 is unique in L1.
16 is unique in L2.
16 is unique in L1.
26 is unique in L2.
23 is unique in L1.
13 is unique in L2.
20 is unique in L1.
17 is unique in L2.
14 is unique in L1.
24 is unique in L2.